/* Fondo general */
body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
    background-color: white;
    border-bottom: 1px solid #dee2e6;
}

header h1 {
    font-weight: bold;
    color: #086d81;
}

/*menu*/
.menu-azul {
    background-color: #086d81;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link {
    font-weight: 500;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link:hover {
    color: #e9ecef;
}

/* boton sesion*/
.btn-outline-sesion {
    background-color: #086d81;
    color: white;
    border: 2px solid #086d81;
}

.btn-outline-sesion:hover {
    background-color: #065866;
    color: white;
}

/* boton registro */
.btn-outline-registro {
    background-color: transparent;
    color: #086d81;
    border: 2px solid #086d81;
}

.btn-outline-registro:hover {
    background-color: #086d81;
    color: white;
}

/*carrusel*/
.carousel-img {
    height: 300px;
    object-fit: cover;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 10px;
}

/* Efecto tarjetas */
.card {
    border-radius: 15px;
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

/* Descripción especialidad */
.especialidad-descripcion {
    min-height: 100px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Botones */
.btn-primary {
    border-radius: 20px;
}

/*farmacia*/
.producto-img {
    height: 100px;
    object-fit: cover;
}

#productos .card {
    border: none;
    border-radius: 10px;
    transition: 0.3s;
}

#productos .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

#productos .card {
    text-align: center;
}

/* Footer */
footer {
    margin-top: 40px;
    background: #0d6efd;
}

footer a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
    transition: 0.3s;
}

footer a:hover {
    color: #0dcaf0;
}

/* 1. Quitamos la transparencia de la celda deshabilitada */
.mat-calendar-body-cell.holiday-date {
    opacity: 1 !important;
}

/* 2. Forzamos los colores en el círculo del número para los festivos */
.mat-calendar-body-cell.holiday-date .mat-calendar-body-cell-content {
    color: #d32f2f !important;
    opacity: 1 !important;
    font-weight: bold !important;
    border-radius: 50% !important;
}